{% extends "skeleton.html" %}
{% block content %}

<span id="fontSizeTest"></span>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">
                <b>{{ get_ticker_response.symbol }}</b> - {{ get_ticker_response.co_name }}
            </h1>
        </div>
        <div class="panel-body">

            <ul class="nav nav-pills">
                <li role="presentation" class="active">
                    <a href="#wordcloudTab" aria-controls="wordcloudTab" role="pill" data-toggle="pill">Word Cloud</a>
                </li>
                <li role="presentation">
                    <a href="#messages" aria-controls="messages" role="pill" data-toggle="pill">Last 30 Posts</a>
                </li>
            </ul>

        </div>
    </div>

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="wordcloudTab"></div>

        <div role="tabpanel" class="tab-pane" id="messages">
            <div class="well">
                <a href="https://www.stocktwits.com/">
                    <img src="{{ url_for('static', filename='images/st_logo.jpg') }}" class="img-fluid">
                </a>
                <br><br>

                {% set count = 1 %}
                {% for post in get_ticker_response.posts %}
                    <div class="well well-sm" style="background-color:white;" id="stPost_{{ count }}">
                        <span>
                            <b><a href="https://www.stocktwits.com/{{post.author}}">{{ post.author }}</a></b>
                            @
                            <a href={{ post.link_to_message }}>{{ post.timestamp }}</a>
                            <img src="{{ url_for('static', filename='images/st_logo_tiny.png') }}" class="img-fluid">
                        </span>
                        <br>

                        <script type="text/javascript">
                            var linkedBody = linkEverything(`{{ post.body.replace("`", "'") }}`);
                            $("#stPost_{{ count }}").append(linkedBody);
                        </script>
                    </div>
                    {% set count = count + 1 %}
                {% endfor %}
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
// On screen load
$(function() {
    var wordMap = {{ get_ticker_response.word_map|tojson }}
    var sortedFrequencyList = buildFrequencyList(wordMap);

    var cloudDiv = document.getElementById("wordcloudTab");
    width = cloudDiv.clientWidth;
    height = window.innerHeight * (3/4);    // 3/4 to move the cloud higher up on the screen

    var wordVolume = calculateWordVolume(sortedFrequencyList, (width * height));

    // TODO: investigate different fill scales, what does category20 mean?
    var fill = d3.scale.category20();
    // https://github.com/d3/d3-3.x-api-reference/blob/master/Quantitative-Scales.md

    var scaleWord = d3.scale.linear()  // sqrt, linear, log, quantile, quantize.
        .domain([sortedFrequencyList[sortedFrequencyList.length - 1].size, sortedFrequencyList[0].size])
        .range([wordVolume.min, wordVolume.max]);

//     var listString = "";
//     for (i = 0; i < sortedFrequencyList.length; i++) {
//         var word = sortedFrequencyList[i];
//         listString += (word.text + ":" + word.size + ":" + scaleWord(word.size) + " ");
//     }
//     console.log(listString);

    // cloudDiv.offsetHeight crashes d3.cloud, think it might be 0. shitty validation on their part.
    var layout = d3.layout.cloud()
        .size([width, height])
        .words(sortedFrequencyList)
        .rotate(0)
        .fontSize(function(d) { return scaleWord(d.size); })
        .spiral("rectangular")   // archimedean is default
        .padding(2)              // default is 1
        .on("end", draw);

    layout.start();

    function draw(words) {
        d3.select("#wordcloudTab")
            .append("svg")
                .attr("width", width)
                .attr("height", height)
            .append("g")
                .attr("transform", "translate(" + [width >> 1, height >> 1] + ")")               
            .selectAll("text")
                .data(words)
            .enter()
            .append("text")
                .style("font-size", function(d) { return (d.size + "px"); })
                .style("fill", function(d, i) { return fill(i); })
                .attr("text-anchor", "middle")
                .attr("transform", function(d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function(d) { return d.text; });
    }
});

// Transform into the form that d3 cloud needs
function buildFrequencyList(wordMap) {
    var sortedFrequencyList = [];
    for (var word in wordMap) {
        if (word.length < 2) {
            continue;
        }

        var wordFrequency = wordMap[word];
        var wordFrequencyMap = {
            text: word,
            size: wordFrequency
        };

        if (wordFrequency > 1) {
            binaryInsert(wordFrequencyMap, sortedFrequencyList);
        }
    }

    return sortedFrequencyList.slice(0, 50);
}
</script>

{% endblock %}
